:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
  --white-color: #ffffff;
  --gray-color: #f0f0f0;
  --logo-color: #111111;
  --font-color: #626262;
  --subtitle-color: #b4ad9e;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Playfair Display', serif;
  color: var(--font-color);
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0.5em;
  margin: 0 auto;
}

/*
* Links
*/

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

/* 
* DESCRIPTION
*/

.description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--subtitle-color);
}

/* 
* HEADER 
*/

.logo {
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--logo-color);
  text-align: center;
}

/* 
* MENU 
*/

@media (min-width: 35em) {
  .header-inner {
    display: flex;
    align-items: center;
  }
  .header-inner > * {
    flex: 1;
  }
  .logo {
    text-align: left;
  }
}

.menu {
  position: relative;
}

.menu-toggle {
  position: absolute;
  right: 0.5em;
  top: -1.3em;
  border: 0;
  background-color: var(--logo-color);
  color: var(--white-color);
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.menu-toggle::after {
  position: absolute;
  top: 0.3em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  mask-position: absolute;
  right: 0;
  left: 0;
  margin: 0;
}

.menu.is-open .menu-dropdown {
  display: block;
}

@media (min-width: 35em) {
  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: block;
    position: static;
  }
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid var(--logo-color);
  list-style: none;;
}

.nav-menu > li + li {
  border-top: 1px solid var(--logo-color);
}

.nav-menu > li > a {
  display: block;
  text-transform: uppercase;
  padding: 0.8em 1em;
  color: var(--font-color);
  font-weight: normal;
}

@media (min-width: 35em) {
  .nav-menu {
    display: flex;
    justify-content: space-between;
    border: 0;
  }
  .nav-menu > li + li {
    border: 0;
  }
}

/* 
* MAIN
*/

.main-inner {
  margin-bottom: 3em;
}

.main-image {
  margin-bottom: 1em;
}

.main-image > img {
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 1.875rem;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

.main-text {
  font-size: 1rem;
  line-height: 1.5;
}

@media(min-width: 35em) {
  .main-inner {
    padding: 0 2em;
  }
  .main-image {
    margin-bottom: 1.5em;
  }
  .title {
    font-size: 1.875rem;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .main-text {
    margin-bottom: 1em;
  }
}

/* 
* FEATURES
*/

.features-item {
  margin-bottom: 2em;
  overflow: hidden;
}

.features-item > img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1em;
}

.features-item > h3 {
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  font-weight: normal;
  font-size: 1.875rem;
}

.features-item > p {
  font-size: 1rem;
  line-height: 1.5;
}

@media(min-width: 35em) {
  .features-item {
    padding: 0 1em;
  }
}

@media (min-width: 50em) {
  .feautures-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .features-item {
    flex: 50%;
    padding: 1em 2em;
  }
  .feautures-inner:nth-child(2n) {
    margin-left: 1em;
  }
}

/* 
* MAILING
*/

.mailing {
  background-color: var(--gray-color);
  color: #333333;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  margin-bottom: 2em;;
}

.mailing > h3 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 1.875rem;
}

.mailing-form {
  position: relative;
  width: 20em;
  margin: 0 auto;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.email {
  color: #626262;
  font-size: 0.875rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1.8em;
}

.btn-arrow {
  position: absolute;
  border: 0;
  right: 0;
  bottom: 0.15em;
  font-size: 1.7rem;
  width: 1.3em;
  height: 0.8em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.btn-arrow::after {
  position: absolute;
  display: block;
  bottom: 0.25em;
  right: 0.1em;
  text-indent: 0;
  content: "\27A4";
}

.btn-more {
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 3em auto;
  border: 1px solid black;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  background-color: transparent;
  color: #626262;
}